
    body {
      font-family: Arial, sans-serif;
      background-color: #F3F3F3;
      /* background-image:url(./Solar.jpg) ;
      background-size: contain;
      background-repeat: no-repeat; */
      color: #333;
    }

    h1 {
      text-align: center;
      color: #0056b3;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .contFull{
        display: flex;
    }
    .btn{

        align-items: center;
        text-align: center;
    }

    .btn1{
    margin-right: 5px;
    }

    .powerbtn{
        align-items: center;
        justify-content: center;
    }

    .bbb{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn2{
        background-color: #0056b3;
        color: #fff;
        border: none;
        padding: 10px 15px;
        margin: 5px 0;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
      }
  
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }


    .section {
        text-align: center;
        background-color: #FFFFFF; /* Clean contrast */
        border: 5px solid #CCCCCC; /* Soft outline */
        color: #333333; /* Text color */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle depth */
        border-radius: 8px; /* Rounded corners for modern look */
        padding: 15px;
        box-sizing: border-box;
        width: 30%;
        margin: 10px;
        padding: 10px;
      }

    button {
      background-color: #0056b3;
      color: #fff;
      border: none;
      padding: 10px 15px;
      margin: 5px 0;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #003d80;
    }

    button:reset {
      background-color: #ffa500;
      color: #fff;
    }

    input[type="number"] {
      width: calc(100% - 20px);
      padding: 5px;
      margin: 5px 0;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    #dividedBy52{
        font-weight: bold;
        font-size: large;
        color: #0056b3;
    }

    #dividedBy1500{
        font-weight: bold;
        font-size: large;
        color: #0056b3;
    }

    #finalResult{
        font-weight: bold;
        font-size: large;
        color: #0056b3;
    }

    input[type="number"]{
      border-color: #0056b3;
      outline: none;
      font-size: large;
      font-weight: bold;

    }


    p{
        font-size: large;
        font-weight: bold;
    }

    .span1{
        margin-left: 117px;
    }
    .span2{
        margin-left: 80px;
    }
    .span3{
        margin-left: 111px;
    }

    .span4{
        margin-left: 110px;
    }

    .result {  
      font-weight: bold;
      color: #0056b3;
      background-color: #FFFFFF;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #CCCCCC;
    }

    .side-by-side {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .side-by-side > .section {
      width: 30%;
      margin: 10px;
    }