*{
    margin: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    color: white;
}

body{
    background:url(./1.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 900px;
}


.div{
    display: grid;
    grid-template-columns: 200px 200px auto 200px  ;
    grid-template-rows: auto auto auto;
    gap: 10px;

    margin: 10px;
}
.div > div {

    text-align: center;
    margin: 20px 0;
    font-size: 30px;
  }

.item1{
    grid-row: 1/4;
}

.item2{
    grid-column:2/4;
    grid-row: 1/3 ;
    color: #D89B5EFF;
}

.item3{
    grid-row: 1/4;
}

.item{
    list-style-type: none;
    color: #D89B5EFF;
    margin-top: 30px;
}

.menu{
    margin-top: 250px;
}
.info{
    margin-top: 150px;
    text-align: left;
    margin-left: 10px;
}
.text{
    color: #D89B5EFF;
}



@media screen and (max-width:1400px){
    body{
        background-size:1400px 900px ;
    }
}

@media screen and (max-width:1250px){
    body{
        background-size:1250px 900px ;
    }
}

@media screen and (max-width:1065px){
    body{
        background-size:1065px 900px ;
    }
}

@media screen and (max-width:940px){
    body{
        background-size:940px 900px ;
    }
}

@media screen and (max-width:900px){
    body{
        background-size:900px 900px ;
    }
}

@media screen and (max-width:845px){
    body{
        background-size:845px 900px ;
    }
}

@media screen and (max-width:773px){
    body{
        background-size:773px 900px ;
    }
}

@media screen and (max-width:717px){
    body{
        background-size:717px 900px ;
    }
}

@media screen and (max-width:673px){
    body{
        background-size:673px 900px;
    }
}

@media screen and (max-width:645px){
    body{
        background-size:645px 900px ;
    }

}

@media screen and (max-width:640px){
    body{
        background-image: url(2.jpg);
        background-size:640px 812px;
        font-size: 20px;
    }
    .info{
        margin-top:  250px;
    }
    .item3{
        text-align: center;
    }

}



